*{
    margin: 0px;
}

html,body
{
    width: 100%;
    margin: 0px;
    overflow-x: hidden; 
}
.container{
    background-color: rgb(217, 232, 238);
    width: 100%;
    height : 330px;
    position: absolute;   
}  
  .topnav a {
    float: left;
    color: #242424;
    text-align: center;
    display: inline;
    padding-left: 50px ;
    margin-top: -10.0px;
    cursor: pointer;
    text-decoration: none;  
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size:17px;

  }

.topnav a.active{
    text-decoration: underline;
}


  .topnav1 a {
    float: left;
    color: #242424;
    text-align: center;
    display: inline;
    padding-left: 380px ;
    margin-top: -10.0px;
    cursor: pointer;
    text-decoration: none;
     
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size:17px;

  }

  a.one:hover, a.one:active 
  {
    color: #006064;
    text-decoration: underline;
}


    .dropdown {
        float: left;
        overflow: hidden;
        margin-top: -20.0px;
      }
      
      .dropdown .dropbtn { 
        border: none;
        outline: none;
        padding: 10px 10px;
        background-color: inherit;
        margin: 0;
        color:  #242424;
        padding-left: 27px ;
        font-weight: 450; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size:17px;
    }

      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: white;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        font-size:17px;}

    .dropdown-content a {
        float: none;
        color: gray;
        padding: 4px 10px;
        text-decoration: none;
        display: block;
        text-align: left; 
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        font-size:17px;}
            
    .dropdown-content a:hover 
    {
        background-color:inherit;
      }
      
      .dropdown:hover .dropdown-content 
      {
        display: block;
      }



      .button1 {
        background-color: white;
        padding: 9px 25px;
        cursor: pointer;
        color:  #242424;
        border-color: black;
        border: 1px;
        margin-top: -15px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size:17px;
      }
      .button1{ border-radius: 8px;}
      .button1:hover{
        background-color:  #2f3d3d;
        color: white;
      }

    .text1{
      color: #006064;
      font-size: 45px;  
      text-align: center;
      margin-top: 55px;
      font-family: 'IBM Plex Sans' , serif;
      font-style: normal;
      font-weight: 450;

       }

       .text2{
        color: #12437c;
        font-size: 20px;  
        text-align: center;
        margin-top: 10px;
        font-family: 'IBM Plex Sans', serif;
        font-style: normal;
        font-weight: 540;
         }

      .landing{
      text-align: center;
      margin-top: 10px;
      }
      
 .container-1{
  position: absolute;  
  margin-top: 550px;
  width: 100%;
  height: 40%;
  font-family: 'IBM Plex Sans',  sans-serif;
  
}

 .text3-1{
  font-style: normal;
  font-size: 20px;
  padding-left: 80px;
  color: rgb(25, 25, 68);
 
  font-style: normal;
 }

 .text3-2{
  font-style: normal;
  font-size: 18px ;
  color: rgb(21, 21, 59);
  font-weight: 300;
  font-style: normal;
 }

    #main1 {
     width: 800px;
     height: 400px;
     display: flex;
     justify-content: space-around;
     padding-left: 450px;
     margin-top: -100px;}

    #main1 div { 
    height: 90px; 
    background-color:white;
    width: 180px;
    border: 2px solid green;
    margin: 10px;   
  }
  
  #main1 div{
    border-radius: 8px;}
 
  .i1-img {margin-top: -405px; padding-left: 700px;}
  .i1-img1{margin-top: -115px; padding-left: 440px;}
  .i1-img2{margin-top: -105px; padding-left: 980px;}

  .i1{
    font-size: 16px;
    font-family: 'IBM Plex Sans' ,  sans-serif;
    font-style: normal;
    padding-top: 7px;
    padding-left: 7px;
  } 
.abc{color: rgb(31, 30, 30);
      font-size: 15px ;
      padding-left: 5px;}


.container-2{
      position: absolute;  
      margin-top: 600px;
      width: 100%;
      height: 00px;
     }
  
      .right-img{
      padding-left: 1218px;
      margin-top: -680px;
     }
  
     .slideleft-img{
      padding-left: 10px;
      margin-top: 200px;
      position: relative;
      animation-name: example;
      animation-duration: 3s;
    }

      @keyframes example {
      from{left:0px; top:0px;} 
      to{left:50px; top:0px;}
    }

     .slideright-img{
      padding-left: 996px;   
      margin-top: -630px;
   
      }

     .slider-right{  position: relative;
      animation-name: example1;
      animation-duration: 3s;}
    
    
      @keyframes example1 {
           from{right:0px; top:0px;} 
           to{right:30px; top:0px;}
    }


   .mySlides img {vertical-align: middle;}
      
    .slidershow-middle {
        
        position: relative;
        margin: auto;
        width: 650px;
        overflow: hidden;
        text-align: center;
        margin-top: 100px;
        height: 200;
        
       }
      
  
       .bar {
        cursor: pointer;
        height: 6px;
        width: 60px;
        margin: 0 -2px;
        background-color: rgb(149, 167, 182);
        border-radius: 0px;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: inherit;
        top: -40px;
        z-index: 1;
      }

      .bar:hover{
        background-color: rgb(41, 41, 51);
      }
  

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 100%) {
        .prev, .next,.text {font-size: 11px}
      }
    
  
     .button-c2{
      margin-top: 50px;
      text-align: center;
      }
   

      .button2{
        background-color: white;
        padding: 9px 25px;
        cursor: pointer;
        color: #034042;
        border-color: black;
        margin-top: -15px;
        font-family: 'IBM Plex Sans' ,  sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size:17px;
      }
    
      .button2{ border-radius: 8px;}

      .button2:hover{ background-color:  #2f3d3d; color: white;}

      .c2-text{
        margin-top: -700px;
        text-align: center;
        font-family: 'IBM Plex Sans' ,  sans-serif;
        font-style: normal;
        font-size: 18px;
        font-weight: 600;
        color: rgb(41, 41, 41);
   
      }

      .c2-t1{ font-family: 'IBM Plex Sans' ,  sans-serif;
       font-style: normal;
       font-size: 25px;
       color: rgb(37, 37, 37);
       font-weight: 500;
       
   }



  

.slidecontainer2{

     width: 100%;
     height: 400px;
     margin-top: 1600px;
     font-family: 'IBM Plex Sans' ,  sans-serif;
     font-style: normal;
      }

   .sh2{
     text-align: center;
     font-size: 25px;
     color: rgb(37, 37, 37);
     font-weight: 545;
    
   }

   .myslides2 {display: inherit} img {vertical-align: middle;}
      
    .slideshow2-container2 {
        width: 800px;
        position: relative;
        margin: auto;
        margin-top: 40px;
        height: 300px;
       
       }

    .st1{
      margin-top: -190px;
      font-size: 16.5px;
      color: rgb(117, 117, 117);
      font-weight: 200;
      font-style: normal;
      padding-left: 25px;
    }

    .st2{
      margin-top: -220px;
      font-size: 16.5px;
      color: rgb(117, 117, 117);
      font-weight: 200;
      font-style: normal;
      padding-left: 25px;
    }

    .sp1{
      padding-left: 620px;
      margin-top: -180px;
    }
    .sp2{
      padding-left: 620px;
      margin-top: -140px;
    }

    strong{
      color: rgb(53, 53, 53);
    }

    .bar2 {
      cursor: pointer;
      height: 4px;
      width: 30px;
      margin: 0 2px;
      background-color: rgb(149, 167, 182);
      border-radius: 0px;
      display: inline-block;
      transition: background-color 0.6s ease;
      position: inherit;
      top: -20px;
      z-index: 1;
    }

    .bar2:hover{
      background-color: rgb(41, 41, 51);
    }
    
    /* Fading animation */
    .fade2 {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade2 {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade2 {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 250px) {
      .prev2, .next2,.text {font-size: 11px}
    }

    .button-sc2{
      padding-left: 20px;
      margin-top: 20px;
    }

    .buttonsc2{
      background-color: white;
      padding: 9px 25px;
      cursor: pointer;
      color: #034042;
      border-color: black;
      font-family: 'IBM Plex Sans' ,  sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size:17px;
    }

    .buttonsc2:hover{
      background-color:  #2f3d3d; color: white;
    }

    .buttonsc2{ border-radius: 8px;}


    .slide3container3{
      margin-top: -50px;
      height: 300px;
    }

    .slidecontainer4 {
      padding-top: 80px;
      margin: 0 auto;
      width: 80%;
      height: 400px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
    }
    .slides {
      display: flex;
      height: 100%;
    }
    .slide {
     min-width: 30%;
      position: relative;
     
    }
    
    .slide img {
      width: 72%;
      height: 55%;
    }
    .slide-controls {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #next-btn,
    #prev-btn {
      cursor: pointer;
      background: transparent;
      font-size: 30px;
      border: none;
      padding: 10px;
      color: white;
    }
    #next-btn:focus,
    #prev-btn:focus {
      outline: none;
    }
   










.container4{
      margin-top: 20px;
      font-family: 'IBM Plex Sans' ,  sans-serif;
      width: 100%;
    }

       .c4-heading{
        text-align: center;
        font-size: 25px;
        color: rgb(53, 53, 53);
        font-weight: 500;
    }

      .c4-i{
        padding-left: 1150px;
        margin-top: -80px;
      }

      .row{
        box-sizing: border-box;
        margin-top: 10px;
        padding-left: 100px;
       
      }
      
      .column {
        float: left;
        width: 20%;
        padding: 25px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .c4h{
        margin-top: 5px;
        text-align: center;
        color:rgb(31, 31, 31);
        font-size: 18px;
        font-weight: bold;
        
      }     

      .c4text{
        color:rgb(46, 46, 46);
        font-size: 16px;
        font-weight: 400 ;
        
      }
    
      .c4-heading2{
        text-align: center;
        font-size: 25px;
        margin-top:100px;
        color: rgb(53, 53, 53);
        font-weight: 500;
      }

      .row2 {
        box-sizing: border-box;
        margin-top: 50px;
        padding-left: 100px;
     
      }
      
      .column2 {
        float: left;
        width: 150px;
        padding: 25px;
      }
      
      /* Clearfix (clear floats) */
      .row2::after {
        content: "";
        clear: both;
        display: table;
      }

      .row3 {
        box-sizing: border-box;
        margin-top: 20px;
        padding-left: 100px;
      }
      
      .column3 {
        float: left;
        width: 150px;
        padding: 25px;
      }
      
      /* Clearfix (clear floats) */
      .row3::after {
        content: "";
        clear: both;
        display: table;
      }


      .column3-i{
        float: left;
        width: 150px;
        padding: 25px;
        font-size: 16px;
        font-weight: bolder;
        color: rgb(1, 1, 54);

      }

      .column3-i2{
        float: left;
        width: 150px;
        padding: 25px;
        margin-top: 20px;
      }

      .column3-i3{
        float: left;
        width: 160px;
        padding: 25px;
        margin-top: -30px;
      }





      .container5{
        margin-top: 150px;
        height: 550px;
        width: 100%;

      }

      .txtc5{
        margin-top: 20px;
        padding-left: 100px;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        font-family: 'IBM Plex Sans';
      }

      .row4{
        box-sizing: border-box;
        margin-top: -150px;
        padding-left: 400px;
        font-family: 'IBM Plex Sans';
       
      }
      
      .column4 {
        float: left;
        width: 200px;
        padding: 10px;
      }

      .column4i {
        float: left;
        width: 220px;
        padding: 10px;
      }
     
      
      /* Clearfix (clear floats) */
      .row4::after {
        content: "";
        clear: both;
        display: table;
      }

      .row5{
        box-sizing: border-box;
        margin-top: 5px;
        padding-left: 400px;
       
       
      }
      
      .column5 {
        float: left;
        width: 200px;
        padding: 10px;
      }
      
      /* Clearfix (clear floats) */
      .row5::after {
        content: "";
        clear: both;
        display: table;
      }

      .c5-t{
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
        color: rgb(32, 32, 32);
        font-weight: 600;
        font-family: 'IBM Plex Sans';

      }

      .c5-t1{
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        color: rgb(32, 32, 32);
        font-weight: 600;
        font-family: 'IBM Plex Sans' , serif ;

      }
      .c5-t2{
        font-size: 18px;
        text-align: center;
        margin-top: 41px;
        color: rgb(32, 32, 32);
        font-weight: 600;
        font-family: 'IBM Plex Sans' , serif ;

      }
      .c5-t3{
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        color: rgb(32, 32, 32);
        font-weight: 600;
        font-family: 'IBM Plex Sans' , serif ;

      }
      .c5-t4{
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
        color: rgb(32, 32, 32);
        font-weight: 600;
        font-family: 'IBM Plex Sans' , serif ;

      }





.container6{
  background-color: rgb(217, 232, 238);
  width: 100%;
  height: 430px;
  font-family: 'IBM Plex Sans' ;
      }

      .helpful-links{
        padding-left: 100px;
        padding-top: 50px;
       
      }

      .HL-heading{
        font-size: 22px;
        color:  rgb(66, 66, 66);
      }

      .hl{
        color: rgb(90, 89, 89);
      }

      .contact-info{
        padding-left: 350px;
        margin-top: -188px;
        color: rgb(90, 89, 89);
        font-size: 18px;
       
      }

      .c-i-1{
        font-size: 18px;
      }

      .ci-heading{
        font-size: 22px;
        color: rgb(66, 66, 66);
      }





.form{
         padding-left: 800px;
         margin-top: -150px;
         font-family: 'IBM Plex Sans';  
         color: rgb(90, 89, 89);
  }
  .fname{
    font-size: 22px;
    color: rgb(90, 89, 89);
  }


      input[type=text1] {
          width: 50%;    
          padding: 2px 30px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #2085d8;
      }
      
      input[type=text2] {
          width: 50%;
          padding: 2px 30px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #2085d8;
        
      }
      
      input[type=sub] {
        width: 60%;
        background-color: #2085d8;
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        overflow:hidden;
        cursor: pointer;
        text-align: center;
        opacity: 0.5;
        border-radius: 6px;
        font-size: 16px;
      }
      
      input[type=sub]:hover {
        background-color:rgb(53, 53, 53);
        opacity: 1.0;
      }
      
      .medium{
        margin-top: 20px;
        padding-left: 1100px;
      }

      .linkedin{
        margin-top: -31px;
        padding-left: 1150px;
      }

      .cr{
        padding-left: 100px;
        color: rgb(90, 89, 89);
        margin-top: -28px;
      }


  
      #mySidenav a {
        position: absolute;
        right: -80px;
        transition: 0.3s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
      }
      
      #mySidenav{
        padding-left: 1290px;
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);}
      
      #Snav {
        top: -190px;}